/* VARIABLES */

// colors
$primary:       rgb(117, 179, 76);
$secondary:     rgb(195, 213, 130);
$success:       $primary;
$info:          rgb(0, 154, 204);
$accent:        rgb(181, 0, 0);
$warning:       rgb(243, 156, 18);
$danger:        rgb(181, 0, 0);
$light:         #f8f9fa !default;
$dark:          #212529 !default;

$primary-shade: $primary;
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$accent-shade: $secondary;
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);
// Reassign color vars to semantic color scheme
$red: #dc3545;
$yellow: #ffc107;
$green: #28a745;
$cyan: #17a2b8;
$white: #fff;
$gray-100: #f8f9fa;
$gray-800: #343a40;
$theme-colors: (
  primary: $primary-shade,
  secondary: $accent-shade,
  success: $accent-light,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800);
$brand-primary: $accent-shade;
//$brand-success: $green;
//$brand-info: $teal;
//$brand-warning: $orange;
//$brand-danger: $red;
$brand-inverse: $primary-shade;
// Body
//
// Settings for the `<body>` element.
$body-bg: $white;
$body-color: $gray-800;
$inverse-bg: $primary-shade;
$inverse-color: $white;
// Links
//
// Style anchor elements.
$link-color: $accent-shade;
$link-decoration: none;
$link-hover-color: $accent-dark;
$link-hover-decoration: none;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
// Responsive font sizes
$enable-responsive-font-sizes: true;
$enable-shadows: false;
$enable-gradients: false;
// Breadcrumbs (Works only on Bootstrap 5+)
// $breadcrumb-divider: quote(">");
