<div class="ml-4">
  <a href="#" target="_blank"><i class="fab fa-facebook fa-2x text-dark"></i></a>
  <a href="#" target="_blank"><i class="fab fa-twitter fa-2x text-dark"></i></a>
  <a href="#" target="_blank"><i class="fab fa-instagram fa-2x text-dark"></i></a>
</div>
